<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDAe-uV8imlZ5HU0Ps2qfjXn_AKPu_DupA</string>
	<key>GCM_SENDER_ID</key>
	<string>704090168051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterfirekp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutterapp-kp</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterapp-kp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704090168051:ios:b13b49d8856a94e87e7586</string>
</dict>
</plist>